@use '../../sass/variables' as *;

.Header {
    display: flex;
}

.Header-Menu {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        gap: 4vw;
        padding: 0 0 0 3vw;

        color: $black;
        font-size: 1.20vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;

    }

    li:hover {
        color: #555555;
        font-weight: 600;
        
        transform: translateX(1px) translateY(-0.5vh);
        text-shadow: 0.1vw 0.5vh 0.8vh rgba(0, 0, 0, 0.525);
        transition: 400ms;
    }

    div {
        display: flex;
        align-items: center;
        gap: 1vw;

        cursor: pointer;
    }

    h2 {
        color: $black;
        font-size: 1.20vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        
        &:hover {
            color: #555555;
            font-weight: 600;
            
            transform: translateX(1px) translateY(-0.5vh);
            transition: 400ms;
            text-shadow: 0.1vw 0.5vh 0.8vh rgba(0, 0, 0, 0.525);
        }


    }

    &__img {
        width: 2vw;
    }

}