@use '../../sass/variables' as *;
@use '../../sass/mediaQueries' as *;

.ProductDetail {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 0 15vw 10vh;
    column-gap: 5vw;
}

.ProductDetail__Left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 5vh;
}

.ProductDetail__Card {
    display: flex;
    flex-direction: column;
    width: 100%;

    border-radius: 0.5rem;
    border: 0.01rem solid $border-background-card;

    text-align: center;

    img {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    p {
        padding: 2vh 1vw;

        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
    }

}

.ProductDetail__Description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 3vh;
    width: 100%;

    h1 {
        text-shadow: 0px 0.4rem 0.4rem rgba(203, 203, 203, 0.25);
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
    }

    h2 {
        text-shadow: 0px 0.4rem 0.4rem rgba(203, 203, 203, 0.25);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
    }

}

.bar {
    height: 0.01rem;
    border: 0.01rem solid $border-background-card;
}

.ProductDetail__Right {
    &--Title {
        text-align: center;
        text-shadow: 0px 4px 4px rgba(203, 203, 203, 0.25);
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        padding: 1vh 0 5vh 0;
    }

    button {
        width: 100%;
        background-color: $contrast-color;
        border-radius: 0.5rem;
        border: 0.01rem solid rgba(0, 0, 0, 0.30);
        padding: 1vh 2vw;

        color: $white;
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
    }

}

.ProductDetail__main {
    display: flex;
    flex-direction: column;
    padding: 4vh 0;
    row-gap: 4vh;

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
    }

    h2 {
        text-shadow: 0 0.4rem 0.4rem rgba(203, 203, 203, 0.25);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
    }

}

.ProductDetail__cubeColor {
    display: flex;
    column-gap: 1vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cubeColor-input:checked+.cubeColor-tile {
    border-color: $contrast-color;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    color: $contrast-color;
}

.cubeColor-input:checked+.cubeColor-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: $contrast-color;
    border-color: $contrast-color;
}

.cubeColor-input:checked+.cubeColor-tile {
    fill: $contrast-color;
}

.cubeColor-input:checked+.cubeColor-tile .cubeColor-label {
    color: $contrast-color;
}

.cubeColor-input:focus+.cubeColor-tile {
    border-color: $contrast-color;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0 0 0.4rem #b5c9fc;
}

.cubeColor-input:focus+.cubeColor-tile:before {
    transform: scale(1);
    opacity: 1;
}

.cubeColor-tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;

    border-radius: 0.5rem;
    border: 0.1rem solid #b5bfd9;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.cubeColor-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1rem solid #b5bfd9;
    background-color: $white;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.cubeColor-tile:hover {
    border-color: $contrast-color;
}

.cubeColor-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.cubeColor-label {
    transition: 0.375s ease;
}

.cubeColor-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 0.01rem;
    width: 0.01rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.ProductDetail__cubeSizes {
    display: flex;
    column-gap: 1vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.size-input:checked+.size-tile {
    border-color: $contrast-color;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    color: $contrast-color;
}

.size-input:checked+.size-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: $contrast-color;
    border-color: $contrast-color;
}

.size-input:checked+.size-tile {
    fill: $contrast-color;
}

.size-input:checked+.size-tile .size-label {
    color: $contrast-color;
}

.size-input:focus+.size-tile {
    border-color: $contrast-color;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0 0 0.4rem #b5c9fc;
}

.size-input:focus+.size-tile:before {
    transform: scale(1);
    opacity: 1;
}

.size-tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;

    border-radius: 0.5rem;
    border: 0.1rem solid #b5bfd9;
    background-color: $white;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.size-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1rem solid #b5bfd9;
    background-color: $white;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.size-tile:hover {
    border-color: $contrast-color;
}

.size-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.size-label {
    color: #707070;
    transition: 0.375s ease;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.size-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 0.01rem;
    width: 0.01rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}