@use "../../sass/variables" as *;
@use "../../sass/mediaQueries" as *;

.pay-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10vw;
    height: 90vh;
    padding: 5vh 10vw;

    @include respond-to-small {
        padding: 5vh 5vw;
        grid-template-columns: 1fr;
        row-gap: 5vh;
        height: auto;
    }

    &__left-side {
        form {
            display: flex;
            flex-direction: column;
            row-gap: 5vh;
        }

        button {
            background: $contrast-color;
            width: 100%;
            height: 10vh;
            border-radius: 0.5rem;
            border: none;

            font-size: 2rem;
            font-weight: 800;
            color: $white;

            @include respond-to-small {
                font-size: 1rem;
                height: 5vh;
            }

            @include respond-to-medium {
                font-size: 1.5rem;
            }
        }

    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5vh;

        label {
            font-size: 2rem;
            font-family: 'raleway';
            line-height: 3rem;

            @include respond-to-small {
                font-size: 1rem;
                line-height: 2rem;
            }

            @include respond-to-medium {
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }

        input {
            width: 100%;
            height: 3vw;
            border-radius: 0.5rem;
            padding: 1vh 1vw;
            border: 0.1rem solid #7a7a7a;

            @include respond-to-small {
                height: 10vw;
            }
        }
    }

    &__format {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    &__format h2 {
        font-size: 1.5rem;

        @include respond-to-medium {
            font-size: 1rem;
        }
    }

    &__formatInput {
        display: flex;
        column-gap: 2%;
    }

    &__right-side {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: rgba(238, 238, 238, 0.2);
        box-shadow: 0px 0.4rem 0.4rem rgb(0 0 0 / 25%);
        padding: 5%;
        height: 75%;
        width: 100%;

        @include respond-to-small {
            height: 100%;
        }
    }

    &__description {
        font-family: 'raleway';
        font-size: 1.2rem;
        font-weight: 400;
    }

    &__product-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.15rem solid #d9d9d9;
        padding-bottom: 2rem;
    }

    &__product-price h1 {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__product-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__product-total h1 {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        font-weight: 600;
    }
}