@use '../../sass/variables' as *;
@use '../../sass/mediaQueries' as *;

.home__products {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 5vh;
    padding: 1vh 0;

    @include respond-to-small {
        grid-template-columns: auto;
    }

    @include respond-to-medium {
        grid-template-columns: auto auto;
    }
}